<nav class="navbar navbar-dark pt-1 pb-1">
  <div class="container-fluid">
    <a *ngIf="!buttonRoute" class="navbar-brand" href="#" (click)="buttonClick()" #globalButton>{{ buttonText }}</a>
    <a *ngIf="buttonRoute" class="navbar-brand" href="#" [routerLink]="buttonRoute" #globalButton>{{ buttonText }}</a>
    <!-- <a class="navbar-brand" href="#" *ngIf="!appsScreen" (click)="changeScreen()">Apps</a>
  <a class="navbar-brand" href="#" *ngIf="appsScreen" (click)="changeScreen()">Back</a> -->

    <canvas *ngIf="audioService.isPlaying()" id="visualizer" width="600" height="50"></canvas>

    <div class="btn-group">
      <button class="navbar-toggler" type="button" (click)="open(optionDropdown)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ng-template #optionDropdown let-modal>
        <div class="modal-header p-0 border-0">
          <a class="huge-link text-muted" href="#" (click)="closeWindow()">Kilépés</a>
        </div>
        <div class="modal-header p-0 border-0">
          <a class="huge-link text-muted" href="#" [routerLink]="['settings']" (click)="modal.close('Settings click')">Beállítások</a>
        </div>
        <div class="link-spacer p-0">
          <a class="huge-link text-muted" href="#" (click)="modal.close('Save click')">Back</a>
        </div>
        <div class="modal-footer p-0">
          <a class="huge-link" href="#" (click)="modal.close('Back click')">Back</a>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
