#obd2-data {
    width: 40%;

}

#map-container {
    width: 60%;
}

#obd2-table {
  width: 100%;
  margin-left: 1%;
}
#obd2-table th, #obd2-table td {
  padding: 5px 0px;
  border-bottom: .5px solid gray;
  font-size: 22px;
  font-weight: 600;
}

#map-container img {
    width: 100%;
}

.obd-table-value {
    text-align: center;
}

#map {
    height: 100%;
}

.mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
