<nav class="navbar navbar-dark pt-1 pb-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink]="['']">Back</a>
        <button class="navbar-brand clickable" *ngIf="!isBluetoothPlaying" [style]="{'background': isSelectMusic ? '#aa4500' : ''}" (click)="selectMusic()">Számválasztó</button>
        <button class="navbar-brand clickable" *ngIf="!isBluetoothPlaying" [style]="{'background': isSelectMusicFromPlaylist ? '#aa4500' : ''}" (click)="showPlaylist()">Playlist</button>
        <button class="navbar-brand clickable" *ngIf="isBluetoothPlaying" (click)="bluetoothSettings()">Bluetooth Beállítások</button>
        
        <div class="btn-group">
          <button class="navbar-toggler" type="button" (click)="open(optionDropdown)">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ng-template #optionDropdown let-modal>
            <div class="modal-header p-0 border-0">
              <a class="huge-link text-muted" href="#" (click)="globalsService.closeWindow()">Kilépés</a>
            </div>
            <div class="modal-footer p-0">
              <a class="huge-link" href="#" (click)="modal.close('Save click')">Back</a>
            </div>
          </ng-template>
        </div>
    </div>
</nav>

<ng-template #volumeDropdown let-modal>
  <div class="modal-header p-0 border-0">
    Volume modal here...
  </div>
  <div class="modal-footer p-0">
  </div>
</ng-template>

<div class="screen-container">
    <canvas id="visualizer" width="800" height="460"></canvas>
    <div id="volumeControls" class="container-inner">
        <button class="controls clickable" (click)="increaseVolume()">Volume +</button>
        <button class="controls clickable">-</button>
        <button class="controls clickable" (click)="decreaseVolume()">Volume -</button>
    </div>
    <div *ngIf="!isSelectMusic && !isSelectMusicFromPlaylist" id="mediaPlayer" class="container-inner">
        <div id="title-container" (mouseover)="player ? player.pause() : ''" (mouseout)="player ? player.play() : ''" #scrollTitleContainer>
            <span id="music-title" #scrollableMusicTitle>{{music ? music.Name : '.*- Some Fancy Music Title -*.'}}</span>
        </div>
        <div id="playback-controls">
            <table>
                <tr>
                  <td class="value-cell">{{audioService ? audioService.timeElapsed.value : '--:--'}}</td>
                  <td><input type="range" name="" id="sound-bar" #soundbar min="0" step=".001" max="{{audioService ? audioService.audio.duration : 0}}" value="0" [value]="audioService && !isSeekingMusic ? audioService.audio.currentTime : soundbar.value" (change)="audioService.audio.currentTime=getValue($event)" (mouseover)="isSeekingMusic = true" (mouseout)="isSeekingMusic = false"></td>
                  <td class="value-cell">{{audioService ? audioService.duration : '--:--'}}</td>
                </tr>
            </table>
            <div class="">
                <button class="control-button" (click)="shuffleToggle()" [style]="{'background': mediaService.isUnorderedPlaylist() ? 'green' : ''}"><img src="assets/shuffle.png"/></button>
                <button class="control-button" (click)="seekPreviousSong()"><<</button>
                <button class="control-button" (click)="seekAudioBackward()" (mousedown)="seekTillMouseUp('back')" (mouseup)="clearSeekTillIntervals()"><</button>
                <button class="control-button" (click)="toggleAudio()">{{music ? music.toggleButton : 'Play'}}</button>
                <button class="control-button" (click)="seekAudioForward()" (mousedown)="seekTillMouseUp('forward')" (mouseup)="clearSeekTillIntervals()">></button>
                <button class="control-button" (click)="seekNextSong()">>></button>
                <button class="control-button" (click)="repeateToggle()" [style]="{'background': mediaService.isRepeatePlaylist() ? 'green' : ''}">repeate</button>
            </div>
        </div>
    </div>
  <div *ngIf="isSelectMusic" id="musicList" class="container-inner">
    <div *ngFor="let item of mediaService.getSongs(); index as i">
      <button class="musicName" [style]="{'background': music.Name == item.pretty ? 'green' : ''}"  (click)="setSong(item, i)"><span>{{i+1}}.</span> {{item.pretty}} {{music.Name == item.pretty ? ' | now playing...' : ''}}</button>
      <button class="musicInteract" *ngIf="music.Name != item.pretty" (click)="mediaService.addToPlaylist(i)">Add</button>
    </div>
  </div>
  <div *ngIf="isSelectMusicFromPlaylist" id="musicList" class="container-inner">
    <div *ngFor="let item of mediaService.getPlaylist(); index as i">
      <button class="musicName" [style]="{'background': music.id == i ? 'green' : ''}" (click)="setSong(item, i, true)"><span>{{i+1}}.</span> {{item ? item.pretty : '---'}} {{music.id == i ? ' | now playing...' : ''}}</button>
      <button class="musicInteract" *ngIf="music.Name != item.pretty" (click)="mediaService.removeFromPlaylist(i)">X</button>
    </div>
  </div>
</div>

<footer class="text-lg-start fixed-bottom">
    <div class="container-fluid">
        <div class="row footer-row">
          <div class="col-2 list-group list-group-flush p-2">
            {{globalsService.time | date: 'HH : mm'}}
          </div>
            <div class="col-7 list-group list-group-flush p-2 text-center">
                
            </div>
            <div class="col-3 list-group list-group-flush p-2 text-end">
              {{globalsService.temperature ? globalsService.temperature : ''}}
            </div>
        </div>
    </div>
</footer>
